.panel-fullscreen {
    width: 500px;
}

.imagebox .imagebox-img {
    display: block;
    width: 100%;
    height: auto;
}

.panel-faces {
    position: fixed;
    display: block;    
}

.facebox-img {
    width: 80px;
    height: 80px;
    margin: 30px 10px;
}