.imagebox {
    width: 500px;
}

.imagebox .imagebox-img {
    display: block;
    width: 100%;
    height: auto;
}

.panel-faces {
    position: fixed;
    display: block;    
}

.facebox-img {
    width: 50px;
    height: 50px;
}