.panel-fullscreen {
    width: auto;
    height: auto;
}
.panel-faces {
    position: fixed;
    display: block;    
}

.facebox-img {
    width: 80px;
    height: 80px;
    margin: 30px 10px;
}

.facebox-config-img {
    width: 80px;
    height: 80px;
    margin: 30px 10px;
}

.facebox-config-input {
    width: 80px;
    margin: 10px 10px;
}

.facebox-config-img {
    width: 80px;
    height: 80px;
    margin: 0px 10px;
    margin-top: 40px;
}